
.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.search-button {
  cursor: pointer;
  border-radius: 5px;
  background: #9898f5ce;
}

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.photo {
  display: block;
  width: 350px;
  height: 250px;
}

.info-item-api {
  padding-top: 5px;
}

.load-more {
 margin: 0px auto 20px;
 background: #9898f5ce;
  border-radius: 5px;
  cursor: pointer;
}